@use "../common.scss";

@mixin dock{
  display: flex;
  box-sizing: border-box;
  > *{
    flex: 0 0 auto;
    box-sizing: border-box;
  }
  > .main{//コンポーネントの中で、メインコンテンツ(親コンポーネントのサイズに寄って伸びるコンテンツ）に指定する
    flex: 1 1 auto;
    overflow: auto;
  }
  > .scroll{//コンポーネントの中で、スクロールさせる
    position: relative;
    > :first-child{
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: auto;
    }
  }
}

@mixin horizontalDock{
  flex-direction: row;
  @include dock;
}
@mixin verticalDock{
  flex-direction: column;
  @include dock;
}

.horizontalDock{
  @include horizontalDock;
}

.verticalDock{
  @include verticalDock;
}

